# Allow Settings to read ro.vendor.build.security_patch
get_prop(system_app, vendor_security_patch_level_prop)

# LiveDisplay
hal_client_domain(system_app, hal_lineage_livedisplay)

#selinux status
allow system_app selinuxfs:file r_file_perms;

# Allow access to the touch HAL
hal_client_domain(system_app, hal_lineage_touch)

# Allow SmartCharge HAL service to be found
hal_client_domain(system_app, hal_aosp_smartcharge)

# Allow Settings to set legacy wfd videomode prop
set_prop(system_app, exported_system_prop);

# Allow settings to read and set prop for 'flag_combined_status_bar_signal_icons'
set_prop(system_app, default_prop);
get_prop(system_app, default_prop);
